

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops*/
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    padding: 0px;
    max-width: 50%;

header {
  
}
text {
  
}
body {
  background-color: lightgrey;
}
@media (min-width: 1281px) {
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    padding: 0px;
    max-width: 50%;
  /*body {
    background-color: lightblue;}*/
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    padding: 0px;
    max-width: 50%;
  /*body {
    background-color: red;}*/
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      width: 100%;
      padding: 0px;
      max-width: 100%;
      max-height: 70%;}
  /*body {
    background-color: green;}*/
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    padding: 0px;
    max-width: 100%;
    max-height: 70%;}
  /*body {
    background-color: orange;}*/
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    padding: 0px;
    max-width: 100%;
    max-height: 70%;}
  /*body {
    background-color: black;}*/
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    padding: 0px;
    max-width: 100%;
    max-height: 70%;}
   /* body {
      background-color: white;}*/
}

